<h1>About Bloccit</h1>
<p>Bloccit is a Reddit replica created by Randi Cagle, along with her Bloc mentor, in order to better understand the fundamentals of web development in Rails.</p>

<p><a class="social-btn" href="https://www.facebook.com/trybloc" target="_blank">Follow Me On Facebook</a></p>