 @import "bootstrap-sprockets";
 @import "bootstrap";

.social-btn {
	background: #c123de;
  border: 1px solid #a511c0;
  color: white;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12x;
  display: relative;
  width: 100px;
  height: 50px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
