.social-btn {
	background: #c123de;
  border: 1px solid #a511c0;
  color: white;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12x;
  display: relative;
  width: 100px;
  height: 50px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  
}
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
